* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    
}

body {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    
    width: 1000px;
}
/*Header Start*/
h1 {
    font-size: 6.4em;
}
/*Header End*/

/*Main Start*/

.main {
    height: 500px;
    background-color: gray;
}
/*Main End*/






/*Footer Start*/
.footer {
    display: flex;
    flex-direction: row;
    column-gap: 200px;
}
.footer__git {
    background-image: url('./assets/icons/github.png');
    background-repeat: no-repeat;
    width: 100px;
    height: 41px;
    background-size: cover;
}

.footer__school {
    background-image: url('./assets/icons/rsschool.svg');
    background-repeat: no-repeat;
    width: 110px;
    height: 41px;
    background-size: cover;
}


/*Footer End*/