* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 1200px;
}
/*Header Start*/
.header {
  background-color: #22223b;
  width: 100%;
  height: 12vh;
  text-align: center;
  background-image: url("./assets/icons/noise.png");
  background-repeat: repeat;
}

h1 {
  font-size: 6.4em;
  margin: 15px 0;
  color: #f2e9e4;
  filter: drop-shadow(0px 0px 15px black);
}
/*Header End*/

/*Main Start*/

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% - 12vh - 12vh);
  background-color: #4a4e69;
  background-image: url("./assets/icons/noise.png");
  background-repeat: repeat;
}

.wrapper {
  padding: 30px 0;
  margin: 0 auto;
  width: 60%;
}

.slider {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 2vw;
  overflow: hidden;
}

.slider__radio {
  display: none;
}

.slider__pictures {
  order: 0;
  width: 500%;
  display: flex;
  transition: all 1s;
}
.slider__picture {
  flex-shrink: 0;
  width: 20%;
}
.slider__picture img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  border: 30px solid black;
}

.wrapper__content {
  order: 1;
  width: 55%;
  padding: 0 10px;
  margin: 10px;
  overflow: hidden;
  border-radius: 0 30px 0 30px;
  box-shadow: 0px 0px 5px 5px black;
  background-color: #f2e9e4;
}

.slider__content {
  font-size: 2.4em;
  height: 1px;
  min-height: 70px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  transition: all 1s;
}

.slider__text {
  flex-shrink: 0;
  padding: 20px 30px;
  margin: 0;
  width: 100%;
}

.slider__controls {
  order: 2;
  margin: 0 10px;
}
.slider__item {
  display: inline-block;
  padding: 15px;
  cursor: pointer;
  border-radius: 50%;
}

.slider__item:hover {
  background-color: #22223b;
  box-shadow: 0px 0px 2px 2px black;
  transition: all 0.3s ease-in-out;
  transform: scale(1.3);
}

.slider__round {
  cursor: pointer;
  content: "";
  width: 10px;
  height: 10px;
  box-shadow: 0px 0px 2px 2px #f2e9e4;
  background-color: #f2e9e4;
  border-radius: 5px;
}

.slider__item:hover .slider__round {
  background-color: #9a8c98;
  box-shadow: 0px 0px 2px 2px #9a8c98;
}

#switch1:checked ~ .slider__controls #item1 .slider__round,
#switch2:checked ~ .slider__controls #item2 .slider__round,
#switch3:checked ~ .slider__controls #item3 .slider__round,
#switch4:checked ~ .slider__controls #item4 .slider__round,
#switch5:checked ~ .slider__controls #item5 .slider__round,
#switch6:checked ~ .slider__controls #item6 .slider__round {
  transform: scale(1.3);
  background-color: #9a8c98;
  box-shadow: 0px 0px 2px 2px #9a8c98;
}

#switch1:checked ~ .wrapper__pictures .slider__pictures {
  margin-left: 0;
}
#switch2:checked ~ .wrapper__pictures .slider__pictures {
  margin-left: -100%;
}

#switch3:checked ~ .wrapper__pictures .slider__pictures {
  margin-left: -200%;
}

#switch4:checked ~ .wrapper__pictures .slider__pictures {
  margin-left: -300%;
}
#switch5:checked ~ .wrapper__pictures .slider__pictures {
  margin-left: -400%;
}

/*Slider text checked*/

#switch1:checked ~ .wrapper__content .slider__content {
  margin-left: 0;
}
#switch2:checked ~ .wrapper__content .slider__content {
  margin-left: -100%;
}

#switch3:checked ~ .wrapper__content .slider__content {
  margin-left: -200%;
}

#switch4:checked ~ .wrapper__content .slider__content {
  margin-left: -300%;
}
#switch5:checked ~ .wrapper__content .slider__content {
  margin-left: -400%;
}

/*Main End*/

/*Footer Start*/
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: #22223b;
  width: 100%;
  height: 12vh;
  background-image: url("./assets/icons/noise.png");
  background-repeat: repeat;
}

.footer__year {
  font-size: 2.4em;
  color: #f2e9e4;
  filter: drop-shadow(0px 0px 5px black);
}

.footer__git,
.footer__school {
  background-color: #9a8c98;
  border-radius: 20px;
  padding: 10px;
  transition: 0.3s ease-in-out;
  box-shadow: 0px 0px 1px 1px #9a8c98;
}

.footer__git:hover,
.footer__school:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

/*Footer End*/

@media (max-width: 1200px) {
  h1 {
    margin: 1vw 0;
  }

  .wrapper {
    width: 65%;
  }

  .slider__picture img {
    border: 2vw solid black;
  }

  .slider__text {
    padding: 1vmax 2vmax;
  }
}

@media (max-width: 850px) {
  .slider {
    height: auto;
    justify-content: center;
    align-items: flex-start;
    row-gap: 3vw;
  }

  .wrapper {
    padding: 1vw 1vw;
    width: 80%;
  }

  .wrapper__content {
    order: 3;
    width: 100%;
  }

  .slider__content {
    height: 3vmax;
    align-items: baseline;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 8px;
  }
  .wrapper {
    width: 100%;
  }

  .main {
    height: calc(100vh - 30vh - 12vh);
  }
  .footer {
    flex-direction: column;
    height: 30vh;
  }
}
